*{
	margin: 0;
	padding: 0;
	font-family: 'microsoft yahei';
	
}
body{
    position: relative;
    
}
a{
    color: #333;
    text-decoration: none;
    display: inline-block;
}
.un-margin-left{
    margin-left: 0 !important;
}
.co-999{
	color: #999;
}
.co-333{
	color: #333;
}
.hide{
	display: none;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.main-wrap{
	width: 1200px;
	margin: 0 auto;
    padding-bottom: 180px;
}
.main-wrap-1240{
    width: 1240px;   
}
.main-wrap:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.header{
	height: 80px;
}
.header .header-bar{
	width: 1200px;
	margin: 0 auto;
	position: relative;
}
.header .header-bar .logo{
	background: url(./../img/tutu_logo.png) no-repeat;
	width: 193px;
    height: 63px;
    background-size: 100%;
    float: left;
    margin-top: 8px;
}
.header .header-bar .nav{
	float: left;
    width: 550px;
    margin: 0 115px;
    font-size: 18px;
    line-height: 80px;
}

.header .header-bar .nav li{
	float: left;
	margin: 0 30px;
    list-style: none;
}
.header .header-bar .nav li.active{
	color: #cc0000;
}
.header .header-bar .nav li.active a{
    color: #cc0000;
}
.header .header-bar .user-login-wrap{
	 width: 108px;
    height: 32px;
    float: right;
    background: #cc0000;
    border-radius: 32px;
    text-align: center;
    line-height: 32px;
    color: #fff;
    font-size: 14px;
    top: 24px;
    position: relative;
}
.header .header-bar .user-login-wrap a{
    color: #fff;
}
.header .header-bar .search-wrap{
	position: absolute;
    top: 30px;
    right: 130px;

}
.search-wrap .search-words{
	 background:rgba(255,255,255,.7) url(./../img/icon_search.png) no-repeat;
       display: block;
    background-position: 0;
    padding-left: 30px;
    background-size: 28px;
 
}
.border {
	position: relative;
	border: none!important
}

.border::after {
	content: ' ';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0%;
	left: 0;
	border: 0 solid #e1e1e1;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	pointer-events: none;
	-webkit-transform: scale(1);
	transform: scale(1);
	width: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

.border-top::after {
	border-top-width: 1px
}

.border-right::after {
	border-right-width: 1px
}

.border-bottom::after {
	border-bottom-width: 1px
}

.border-left::after {
	border-left-width: 1px
}

.border-all::after {
	border-width: 1px
}
.title{
	font-size: 24px;
	line-height: 24px;
}
.desc{
	font-size: 16px;
	color: #666;
	line-height: 28px;
}
.left-wrap{
	width: 835px;
	float: left;
}
.left-wrap .wrap-nav{
	background: #fafafa;
	height: 60px;
	margin-top: 20px;
	font-size: 16px;
	line-height: 60px;
}
.left-wrap .wrap-nav li{
	list-style: none;
	float: left;
	cursor: pointer;
	padding: 0 25px;
}
.left-wrap .wrap-nav li.active{
 	background: #fff;
    border-top: 3px solid #cc0000;
    position: relative;
    top: 0px;
    z-index: 10;
    height: 57px;
}
.ask-info-all{
	color: #34547c;
	text-decoration: none;
	cursor: pointer;
    margin-left: 5px;
}

footer{
    background-color: #333333;
    height: 178px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}
.footer-wrap{
    width: 1020px;
    margin: 0 auto;
}
footer .footer-left{
    width: 650px;
    padding-top: 35px;
    float: left;
}
footer .footer-right{
    width: 165px;
    float: right;
    margin-top: 50px;
    position: relative;
}
footer .footer-left .footer-logo{
    background: url(./../img/icon_footer_logo.png)no-repeat;
    display: block;
    width: 196px;
    height: 52px;
}
footer .footer-left div a{
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    margin-right:25px;
}
footer .footer-left div span{
    font-size: 12px;
    color: #fff;
    line-height: 24px;
}
footer .footer-left div span .icp-logo{
    background: url(./../img/icon_icp.png)no-repeat;
    display: inline-block;
    width: 20px;
    height: 24px;
    background-position-y: 2px;
}
footer .footer-right .footer-wechat-qrcode{
    position: absolute;
    display: none;
    background:#fff url(./../img/icon_fooer_qrcode.png)no-repeat;
    width: 120px;
    height: 120px;
    bottom: 80px;
    left: -25px;
    background-position: 3px 5px;
    border: 3px solid #eee;
}
footer .footer-right .footer-wechat{
    display: inline-block;
    background: url(./../img/icon_wechat.png) no-repeat;
    width: 79px;
    height: 70px;
    cursor: pointer;
    background-position: -3px 0;
}
footer .footer-right .footer-wechat:hover{
     background: url(./../img/icon_wechat_act.png) no-repeat;
}
footer .footer-right .footer-weibo{
    display: inline-block;
    background: url(./../img/icon_weibo.png) no-repeat;
    width: 79px;
    height: 70px;
    background-position-x: -1px;
    cursor: pointer;
}
footer .footer-right .footer-weibo:hover{
     background: url(./../img/icon_weibo_act.png) no-repeat;
}
footer .footer-right .footer-iphone{
    display: inline-block;
    background: url(./../img/icon_iphone.png) no-repeat;
    width: 79px;
    height: 70px;
    cursor: pointer;
}
footer .footer-right .footer-iphone:hover{
     background: url(./../img/icon_iphone_act.png) no-repeat;
}
footer .footer-right .footer-android{
    display: inline-block;
    background: url(./../img/icon_android.png) no-repeat;
    width: 79px;
    height: 70px;
    cursor: pointer;
}
footer .footer-right .footer-android:hover{
     background: url(./../img/icon_android_act.png) no-repeat;
}
.comment-page{
    text-align: center;
    padding: 30px;
}
.comment-page span{
    color: #999;
    display: inline-block;
    padding: 8px 10px;
    line-height: 16px;
    font-size: 16px;
    background: #fff;
    border:1px solid #e1e1e1;
    cursor: pointer;
}
.comment-page span:hover{
    color: #333;
    background: #eee;
}
.comment-btn{
    width: 96px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #c00;
    color: #fff;
    font-size: 16px;
    display: block;
    float: right;
    margin-top: 20px;
    cursor: pointer;
}
.btn-disabled{
    background: #eee;
    color: #999;
}
.arrow-up-xl-gray{
    background: url(./../img/arrow/icon_arrow_up_xl_gray.png)no-repeat;
    display: inline-block;
    width: 28px;
    height: 16px;
    background-position: 0 3px;
    margin-right: 6px;
}
.arrow-down-xl{
    background: url(./../img/arrow/icon_arrow_down_xl.png)no-repeat;
    display: inline-block;
    width: 28px;
    height: 16px;
    background-position: 0 3px;
    margin-right: 6px;
}
.arrow-down-xs{
     background: url(./../img/arrow/icon_arrow_down_xs.png)no-repeat;
    display: inline-block;
    width: 28px;
    height: 16px;
    background-position: 0 3px;
    margin-right: 6px;
}
.clamp-2{
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.user-card-wrap{
    width: 296px;
    height: 170px;
    position: absolute;
    left: -128px;
    bottom: -184px;
    
    z-index: 10;
    padding-top: 14px;
}
.user-card-wrap .user-card-main{
    padding: 0 15px;
    box-sizing: border-box;
    background: #fafafa;
}
.user-card-wrap .user-card-arrow{
       background: #fff url(./../img/icon_uparrow.jpg)no-repeat top center;
    display: block;
    position: absolute;
    top: -12px;
    left: 135px;
    width: 25px;
    height: 14px;
    z-index: 11;
}
.user-card-wrap .user-info{
    padding: 18px 0;
}
.user-card-wrap .user-info .user-card-avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
}
.user-card-wrap .user-info .user-info-top{
    display: block;
    margin-left: 60px;
    width: 205px;
}
.user-card-wrap .user-info .user-info-top .user-card-name{
    color: #34547c;
    font-size: 16px;
    display: inline-block;
    line-height: 26px;
}
.user-card-wrap .user-info .user-info-top .user-card-local{
    float: right;
      padding-right: 26px;
    background: url(./../img/icon_h_line.png) no-repeat right;
    display: inline-block;
      line-height: 26px;
    color: #999;
}
.user-card-wrap .user-info .user-info-top .user-tag{
    float: right;
      line-height: 26px;
     color: #999;
}
.user-card-wrap .user-info .desc{
    display: block;
    margin-left: 60px;
    width: 205px;
    color: #999;
    
}
.user-card-wrap .user-follow-wrap{
    padding: 20px 0;
    position: relative;
}
.user-card-wrap .user-follow-wrap .vote-num{
    display: block;
    color: #999;
    font-size: 16px;
}
.user-card-wrap .user-follow-wrap .vote-num .num{
    color: #333;
    margin-left: 10px;
}
.user-card-wrap .user-follow-wrap .follow-num{
    display: block;
    color: #999;
    font-size: 16px;
}
.user-card-wrap .user-follow-wrap .follow-num .num{
    color: #333;
    margin-left: 10px;
}
.user-card-wrap .user-follow-wrap .follow-btn{
    display: block;
    position: absolute;
    top: 20px;
    right: 0;
    height: 42px;
    line-height: 42px;
    text-align: center;
    width: 100px;
    background: #c00;
    color: #fff;
}
.left-suspend-wrap{
    width: 50px;
    background: #fff;
    height: 250px;
    position: absolute;
    left: -80px;
    top: 100px;
}
.left-suspend-wrap .suspend-li{
    border-bottom: 1px solid #e1e1e1;
    height:50px;
    cursor: pointer;
    display: block;
    padding:  0 !important;
     margin:  0 !important;
     left:  0 !important;
     top:  0 !important;
    float: left;
    width: 50px !important;
}

.left-suspend-wrap .share-weibo{
    background: url(./../img/icon_aside_weibo_share.png)no-repeat;
    background-position: 5px 5px;
} 
.left-suspend-wrap .share-wechat{
      background: url(./../img/icon_aside_wechat_share.png)no-repeat;
    background-position: 5px 5px;
}
.left-suspend-wrap  .share-qq{
      background: url(./../img/icon_aside_qzone_share.png)no-repeat;
    background-position: 5px 5px;
}
.left-suspend-wrap   .share-comment{
     background: url(./../img/icon_aside_comment_share.png)no-repeat;
    background-position: 5px 5px;
}
.left-suspend-wrap   .share-comment-hover{
    background: #fff;
    color: #666 !important;
    font-size: 16px !important;
    line-height: 50px;
    text-align: center;
}
.left-suspend-wrap   .share-collection{
     background: url(./../img/icon_aside_collection_share.png)no-repeat;
    background-position: 5px 5px;
}

.left-suspend-wrap  .share-collection-hover{
     background: #fff;
    color: #666 !important;
    font-size: 16px !important;
    line-height: 50px;
    text-align: center;
}