.search-dialog-bg{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255,255,255,.9);
    padding-top: 180px;
}
.search-dialog-bg  .search-input-wrap{
    width: 655px;
    margin: 0 auto;
    position: relative;
}
.search-dialog-bg  .search-input-wrap .search-input{
    height: 60px;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 1px solid #e1e1e1;
    color: #666;
    font-size: 18px;
}
.search-dialog-bg  .search-input-wrap .search-btn{
    background: url(./../img/icon_search_c00.png)no-repeat;
    display: block;
    position: absolute;
    top: 0;
    right: 10px;
    width: 55px;
    height: 60px;
    cursor: pointer;
}
.search-dialog-bg  .search-hot-wrap{
    width: 655px;
    margin: 0 auto;
    margin-top: 15px;
}
.search-dialog-bg  .search-hot-wrap .search-hot-title{
    font-size: 20px;
    color: #666;
    height: 50px;
    display: block;
    line-height: 50px;
}
.search-dialog-bg  .search-hot-wrap .search-hot-tip{
   font-size: 16px;
    color: #c00;
    line-height: 32px;
    cursor: pointer;
    display: inline-block;
    margin: 10px 20px 10px 0;
    padding: 0 16px;
    border: 1px solid;
}